{% extends 'base.html.twig' %}

{% block title %}Commits List{% endblock %}

{% block body %}
<div class="container-fluid px-4 mx-auto example-wrapper">
    <app-header [numberOfCommits]="222"></app-header>
    <div>
        <ul class="list-group">
            {% set currentAuthor = '' %}
            {% for commit in commits %}
                {% if currentAuthor != commit.author %}
                    <li class="list-group-item backgroundContainer">
                        <h3>{{ commit.author }}</h3>
                    </li>
                    {% set currentAuthor = commit.author %}
                {% endif %}

                {% set lastCharOfCommit = commit.hash | slice(-1) %}
                <li class="list-group-item backgroundContainer">
                    <p class="{% if lastCharOfCommit matches '/^\\d+$/' %}numericHash{% endif %}">
                        <strong>{{ commit.hash [:5]}}</strong>...<strong>{{ commit.hash | slice(-1)}}</strong>
                        {{ commit.description | trim('.') }}
                        (<i>{{ commit.createdAt|date("m/d/Y H:i:s") }}</i>)
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
