body {
    background-color: lightgray;
}

.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
.backgroundContainer {background-color: #c8cae6}
.numericHash {color: #E6F1F6}
header {margin: 40px 0}